:root {
  --thisYellow: #f4d04e;
  --thisBlack: #111111;
  --thisGrey: #7f7f7f;
  --thisWhite: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--thisYellow);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100wh;
}

.card {
  background-color: var(--thisWhite);
  height: 522px;
  width: 384px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.card img {
  height: 200px;
  width: 336px;
  border-radius: 10px;
  justify-content: center;
}

.learningRect {
  width: 82px;
  height: 29px;
  background-color: var(--thisYellow);
  display: block;
  margin-top: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
}


.pLanguages{
    color: var(--thisGrey);
}