:root {
  --thisYellow: #f4d04e;
  --thisBlack: #111111;
  --thisGrey: #7f7f7f;
  --thisWhite: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--thisYellow);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100wh;
}

.card {
  background-color: var(--thisWhite);
  height: 500px;
  width: 300px;
}
